.hero-restaurant {
  padding-top: 128px;
  padding-bottom: 128px;
  background-image: url("/images/DS_Store.png");
  background-size: cover;
  background-position: center center;
  padding-left: 80px;
  font-family: "Roboto", sans-serif;
}

.information-hero-restaurant {
  filter: drop-shadow(0px 0px 16px rgba(117, 117, 117, 0.2));
  background-color: white;
  padding: 38px;
  display: inline-block;
  box-sizing: border-box;
}

@media (max-width: 991px) {
  .container-const-country-kitchen {
    flex-direction: row;
  }

  .hero-restaurant {
    padding-left: 8px;
  }

  .button-hero {
    margin-left: 20px;
  }

  .const-country-kitchen {
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .container-const-country-kitchen {
    flex-direction: column;
  }

  .button-hero {
    margin-top: 15px;
    margin-left: 0px;
  }

  .information-hero-restaurant {
    width: 100%;
  }

  .hero-restaurant {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.name-restaurant {
  color: #1d1d1d;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
}

.cost-country-kitchen {
  color: #626262;
  font-size: 14px;
  font-weight: 400;
  margin-right: 20px;
}

.button-hero {
  border-radius: 20px;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  background-color: #262626;
}
