@media (min-width: 1199px) {
  .list-product {
    margin-left: 70px;
    margin-right: 70px;
  }
}

@media (max-width: 1199px) {
  .list-product {
    margin-left: 70px;
    margin-right: 70px;
  }
}

@media (max-width: 991px) {
  .list-product {
    margin-left: 8px;
    margin-right: 8px;
  }
}

.list-product {
  margin-top: 55px;
  font-family: Roboto;
}

.name-category {
  color: #1d1d1d;
  font-size: 22px;
  font-weight: 400;
  line-height: 34px;
}

.list-product-container {
  margin-top: 32px;
}

.product-item {
  border: 2px solid #d8d8d8;
  margin-bottom: 50px;
}

.product-item-container {
  padding: 15px;
}

.name-product {
  color: #1d1d1d;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.composition-product {
  color: #626262;
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
}

.cost-product {
  color: #1d1d1d;
  font-size: 15px;
  font-weight: 500;
  line-height: 21px;
}

.img-product {
  width: 170px;
  height: 160px;
}
