.header {
  height: 80px;
}

.logo-header {
  padding-left: 40px;
}

.basket-header {
  margin-right: 90px;
}

.basket {
  height: 30px;
  width: 30px;
}

.button-nav {
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  font-weight: 500;
  margin-right: 20px;
}
